# PORT
PORT=8002

# ENVIRONMENT
NODE_ENV=development # staging, production
DB_ENV=dev   # stag, prod

# DATABASE
DATABASE_URL=POSTGRES_DATABASE_CONNECTION_URL

# JWT
JWT_SECRET=JWT_SECRET
JWT_EXPIRATION=JWT_EXPIRATION_TIME  # 1h

# SMTP
SMTP_HOST=YOUR_SMTP_PROVIDER_HOST
SMTP_PORT=YOUR_SMTP_PROVIDER_PORT
EMAIL_SMTP_EMAIL=YOUR_SMTP_EMAIL
EMAIL_SMTP_PASS=YOUR_SMTP_PASSWORD