# PORT
PORT=8002

# ENVIRONMENT
NODE_ENV=development # staging, production
DB_ENV=dev   # stag, prod

# DATABASE
DATABASE_URL=POSTGRES_DATABASE_CONNECTION_URL

# JWT
JWT_SECRET=JWT_SECRET
JWT_EXPIRATION=JWT_EXPIRATION_TIME  # 1h
