# PORT & ENDPOINTS
PORT=8002
CLIENT_ENDPOINT=http://localhost:8002
SERVER_ENDPOINT=http://localhost:8002/api/v1

# ENVIRONMENT
GLOBAL_ENV=development # staging, production
NODE_ENV=development # staging, production
DB_ENV=dev   # stag, prod

# DATABASE
DATABASE_URL=POSTGRES_DATABASE_CONNECTION_URL

# JWT
JWT_SECRET=JWT_SECRET
JWT_EXPIRATION=1d

# ENCRYPTION
ENCRYPTION_KEY=ENCRYPTION_SECRET_KEY
ENCRYPTION_EXPIRATION_TIME=3600000 # 60 Minutes

# SMTP
SMTP_HOST=SMTP_HOST
SMTP_PORT=SMTP_PORT
SMTP_EMAIL=SMTP_EMAIL
SMTP_PASS=SMTP_PASSWORD

# GOOGLE OAUTH
GOOGLE_OAUTH_CLIENT_ID=GOOGLE_OAUTH_CLIENT_ID
GOOGLE_OAUTH_CLIENT_SECRET=GOOGLE_OAUTH_CLIENT_SECRET
GOOGLE_AUTH_REDIRECTION_URL=GOOGLE_AUTH_REDIRECTION_URL    # http://localhost:8002/api/v1/auth/google/callback